$glitter-star: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fglitter-star.svg?alt=media&token=0b693d8e-e569-4567-8827-10f8c25dbbdd";
$glitter-star-sm: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fglitter-star-sm.svg?alt=media&token=13e65b1f-d181-4266-ac34-97485789e1af";
$glitter-star-xs: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fglitter-star-xs.svg?alt=media&token=0516d117-d8c2-4c0e-b0f8-e468b33ede05";
$heart-xs-1: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fheart-xs-1.svg?alt=media&token=c8ee973c-fd7a-4b18-b7cf-fd260962768c";
$heart-xs-2: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fheart-xs-2.svg?alt=media&token=e542fc9c-87de-4817-a42e-3a23c42e9e92";
$heart-xs-3: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fheart-xs-4.svg?alt=media&token=a9aca079-9b66-4d27-83fa-a2cbf4f97df8";
$heart-xs-4: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fheart-xs-5.svg?alt=media&token=71ca3b0c-8715-4484-92e7-b027edd71631";
$heart-sm: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fheart-sm.svg?alt=media&token=2750292c-92fd-41de-8e1d-d8814119a602";
$heart-lg: "https://firebasestorage.googleapis.com/v0/b/codepen-asset.appspot.com/o/valentine-animation%2Fheart-lg.svg?alt=media&token=aabe9399-f03f-44de-9b55-99025b2981a3";

$pink-300: rgba(221, 84, 133, 1);
$pink-800: rgba(132, 22, 72, 1);
$white: rgba(255, 255, 255, 1);

@function random-image-generator($url, $density) {
  $position-horizontal: random(100);
  $position-vertical: random(100);

  $bg-items: "url(#{$url}) #{$position-horizontal}% #{$position-vertical}% no-repeat";
  @for $i from 2 through $density {
    $position-horizontal: random(100);
    $position-vertical: random(100);

    $bg-items: "#{$bg-items}, url(#{$url}) #{$position-horizontal}% #{$position-vertical}% no-repeat";
  }
  @return unquote($bg-items);
}

@mixin random-images(
  $img-url,
  $z-index,
  $blur,
  $density,
  $speed,
  $delay,
  $initial-position,
  $animation
) {
  background: random-image-generator($img-url, $density);
  height: 100vh;
  width: 100%;
  filter: blur($blur);
  z-index: $z-index;
  position: absolute;
  transform: translateY($initial-position);
  animation: $animation linear $speed $delay infinite;
}

@mixin fixed-hearts(
  $img-url,
  $deg,
  $height,
  $width,
  $position-left,
  $position-top,
  $blur,
  $z-index
) {
  background: url($img-url) no-repeat;
  height: $height;
  width: $width;
  top: $position-top;
  left: $position-left;
  transform: rotate($deg);
  filter: blur($blur);
  z-index: $z-index;
}

body {
  margin: 0;
  padding: 0;
}

.valentine {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: linear-gradient(313.01deg, $pink-300, $pink-800 81.14%);
  #heart-group-1 {
    @include random-images($heart-xs-1, 10, 12px, 8, 17s, 2s, -100%, drop);
  }
  #heart-group-2 {
    @include random-images($heart-xs-3, 20, 5px, 3, 14s, 0s, -100%, drop);
  }
  #heart-group-3 {
    @include random-images($heart-xs-2, 30, 3px, 3, 12s, 1s, -100%, drop);
  }
  #heart-group-4 {
    @include random-images($heart-xs-1, 40, 2px, 3, 10s, 1s, -100%, drop);
  }
  #heart-group-5 {
    @include random-images($heart-xs-4, 50, 1px, 4, 8s, 0s, -100%, drop);
  }
  #star-group-1 {
    @include random-images($glitter-star, 60, 0px, 6, 1.8s, 0s, 0%, glitter);
  }

  #star-group-2 {
    @include random-images($glitter-star-sm, 60, 0px, 6, 1s, 0s, 0%, glitter);
  }
  #star-group-3 {
    @include random-images(
      $glitter-star-xs,
      60,
      0px,
      20,
      1.9s,
      0s,
      0%,
      glitter
    );
  }
  .heart-fixed {
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .heart-lg {
    @include fixed-hearts($heart-lg, 299deg, 389px, 438px, -2%, 50%, 1px, 45);
  }
  .heart-sm {
    @include fixed-hearts($heart-sm, 45deg, 264px, 299px, 65%, 30%, 7px, 15);
  }
  .heart-xs {
    @include fixed-hearts($heart-xs-2, 299deg, 87px, 89px, 30%, 10%, 3px, 35);
  }
  .overlay {
    background-color: $white;
    height: 100vh;
    opacity: 0.23;
    width: 100vw;
    position: absolute;
    z-index: 100;
  }
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  max-width: 300px;
  position: fixed;
  z-index: 100;
  top: 3em;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
}

@keyframes drop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes glitter {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
